* {
    margin: 0;
    padding: 0;
}
/* animation */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 95vh;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.name{
    color: rgb(26 26 92);
    font-size: 40px;
    
    width: max-content;
}

.header {
    margin: 30px auto;
    display: flex;
    width: 97%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#text {
    text-align: center;
    border-radius: 24px;
    box-shadow: 2px 4px 1px 0px darkgrey;
    font-size: 25px;
    margin: 6px;
    padding: 6px;
    background-color: antiquewhite;
    border: none;
    color: rgb(26 26 92);
}

button {
    border-radius: 29px;
    font-size: 24px;
    box-shadow: 2px 4px 1px 0px darkgrey;
    margin: 6px;
    padding: 6px 20px;
    background-color: antiquewhite;
    border: none;
}

button:hover {
    color: brown;
}
#hidden_display{
    /* background-color: rgb(26 26 92); */
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(3 10 96));
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

.main {
    color: white;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    width: 85%;
    flex-wrap: wrap;
    
}
.main a{
    text-align: center;
}
.main img{
    width: 320px;
    height: auto;
    transition: width 0.1s linear;
    border-radius: 10px;
}
.main img:hover{
    width: 325px;

}
.main div{
    text-align: center;
}
.profileName{
    
    margin: 10px;
    color: black;
    box-shadow: 2px 2px 5px 1px darkgrey;
    background: antiquewhite;
    border-radius: 10px;
    width:320px;
   
    transition: width 0.1s linear;
}
.profileName p{
    padding: 5px;
    margin: 10px 2px;
    
}
.profileName:hover{
    
    width: 323px;
    
  
}

p{
    text-align: start;
    
}
.profilePhoto{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 350px;
}
.details{
    width: 700px;
}
.main p{
    font-size: 25px;
}
.details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.details p{
    margin: 12px 4px;
}
.cards{
    color: black;
    background: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards div{
    width: max-content;
    border: 1px solid rgb(0 0 239);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
